.submit {
    width: 100%;
    display: flex;
}
.submit > * {
    width: 100%;
    height: 3em;
    background: var(--textcolor);
    color: white;
    border: 2px solid violet;
    border-radius: 5px;
    font-size: var(--heading) !important;
    letter-spacing: 2px;
    transition: all ease-in-out 0.2s;
}
.submit > *:hover {
    background: violet;
}
.submit > *:active {
    background: rgb(97, 0, 97);
}

.experience-details .resume {
    color: var(--textcolor);
    flex:1;
    background-color: var(--bgcolor);
    padding: 0.4em 3em;   
    border-radius: 8px;
    cursor: pointer; 
}

.upload-file label, .upload-file input {
    background-color: var(--bgcolor) !important;
    color: var(--textcolor) !important;
    font-size: var(--text) !important;
}