.invalid {
    border: 3px solid rgb(255, 0, 0) !important;
    background: var(--bgcolor);
    color: var(--textcolor);
    outline: none;
    border-radius: .5em !important;
}
.error {
    position: absolute;
    bottom: -20px;
    left: 0;
    color: red !important;;
    font-size: var(--text) !important;
}