:root {
    --textcolor: rgb(255, 175, 207);
    --heading: 14px;
    --sub-heading: 12px;
    --text: 10px;
    --bgcolor: #5c6664;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Popins','Roboto',sans-serif;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
}
body,.title, .form-heading, .container,.gender-container, .form-content, .details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.form-heading, .gender-container, .details {
    width: 100%;
}
.container {
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    max-width: 1000px !important;
    border-radius: 10px;
    padding: 0;
    gap: 0;
}
.form-body form {
    flex-wrap: wrap;
}
.form-heading {
    background: var(--textcolor);
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: var(--heading) !important;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px 5px 0 0;
}

.form-body form {
    display: flex;
    flex: 1fr 1fr;
    padding: 0;
}

.title {
    font-size: var(--text) !important;
}
.left, .right {
    padding-bottom: 1.5em !important;
}
.left .title {
    color: var(--textcolor);
}
.right .title {
    color: rgb(255, 255, 255);
}
.right {
    background: var(--textcolor);
}

.form-content {
    flex-direction: column;
    flex: 1;
    padding: 10px;
} 

@media (max-width: 800px) {
    .checkboxes {
        grid-template-columns: 1fr;
    }
    section {
        padding-bottom: 1rem;
    }
    .input-row, .upload-file, .checkbox-container, .cover-letter {
        width: 100% !important;
        min-width: 100% !important;
    }
    .right {
        padding-bottom: 0;
    }
}